body {
  	margin: 0;
  	padding: 0;
  	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	    sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*background: linear-gradient(to left, rgba(7,27,82,1) 0%, rgba(0,128,128,1) 100%);*/
  
  /*  Mauve
  	  background-color: #8063E1;
      background-image: linear-gradient(135deg, #BD7BE8, #8063E1);
      box-shadow: 20px 20px 60px rgba(#223254,.5), 1px 1px 0px 1px #8063E1;*/

   /* Violet  
   	  background-color: #3F58E3;
      background-image: linear-gradient(135deg, #7F94FC, #3F58E3);
      box-shadow: 20px 20px 60px rgba(#223254,.5), 1px 1px 0px 1px #3F58E3;
*/

	  
      background-color: #2C6FD1;
      background-image: linear-gradient(135deg, #21BBFE, #2C6FD1);
      box-shadow: 20px 20px 60px rgba(#223254,.5), 1px 1px 0px 1px #2C6FD1;



     /* bleu gris wla 3afsa kima hak
      background-color: #352F64;
      box-shadow: 5px 5px 60px rgba(#223254,.1), 1px 1px 0px 1px #352F64;
      background-image: linear-gradient(135deg, #415197, #352F64);
      */


    /* Bleu violet
    background: linear-gradient(0deg, #6a11cb 0%, #2575fc 100%);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
